
:root {
  --primary-color: #12023e;
  --secondary-color: #818181;
  --font-color-black: black;
  --font-color-white:#ddd;
  --font-color-red: #ff5252;
  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --modal-content-bg-color: #fefefe;
  --modal-close-color: #aaa;
}

body,html {
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* left panel */

.left-panel {
  background-color: var(--primary-color);
  height: 100vh;
  color: var(--font-color-white);
  flex: 1;
  border-radius: 0rem 1rem 1rem 0rem;
  flex-direction: column;
}

.left-panel.hidden {
  flex: 0;
}

.top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3 all ease-in-out;
}

.top-right-mobile {
  justify-content: start;
  transition: 0.3 all ease-in-out;
}

.top-right-mobile div{
  align-self: start;
}

.top-right .LogoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-right img {
  max-width: 8rem;
  border-radius: 0.5rem;
  height: auto;
  display: flex;
  margin-right: .6rem;
}

/* Styles for the slogan */
.slogan {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  color: #333;
  text-align: center;
  margin: 1rem 0rem;
}

.slogan-text {
  font-weight: 400;
}

.slogan-highlight {
  font-weight: 700;
  color: var(--primary-color);
}

.left-content{
  height: 77vh;
}

.left-content ul {
  list-style-type: none;
  padding: 1em;
}

.left-content li {
  color: var(--font-color-white);
  font-size: 1.2rem;
  padding: .6em;
  cursor: pointer;
}

.left-content li:hover {
  background-color: #0c8a8f;
  border-radius: .5rem;
}

.top-left {
  color: var(--font-color-white);
  display: flex;
  align-items: center;
  padding: .7em;
}

.top-left img {
  max-width: 3rem;
  height: auto;
  border-radius: 0.5rem;
  margin-right: .6em;
}

/* right panel */

.right-panel {
  padding: 1rem;  
  flex:5;
  height: 100vh;
}

.flex-con img{
  max-width: 1.8rem;
  border-radius: 0.5rem;
  height: auto;
}

.flex-con {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.name-tag{
  background-color: lightblue;
  padding: 0.5rem;
  border-radius: 0.3rem; 
  width: fit-content;
}
.avail-tag{
  color: var(--secondary-color);
  padding: 0.3rem;
  border-radius: 0.3rem; 
}

.inner{
  display: flex;
  /* flex-wrap: wrap; */
  overflow: hidden;
  max-height: 7.5rem;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

/* .inner:hover{
  height: auto;
} */


/* display: grid;
grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
grid-gap: 1px; */

#toggle-button{
  display: none; 
  margin-right: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
}



/* sidebar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
} 

.sidenav li {
  padding: 1rem 1rem 1rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--font-color-white);
  display: block;
  transition: 0.2s;
}

.sidenav li:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: relative;
  top: 1rem;
  right: 1rem;
  float: right;
  font-size: 2rem;
  border-radius: 0.8rem;
  /* margin-left: 50px; */
}

/* joining Button */

.join-btn{
  color: var(--font-color-black);
  font-size: 1rem;
  border: .1rem solid var(--primary-color);
  padding: .4rem 2rem;
  margin-bottom: 1em;
  box-shadow: .1rem .4rem .4rem var(--secondary-color);
  cursor: pointer;
  border-radius: .5rem;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.join-btn:hover{
  background-color: var(--primary-color);
  border-color: var(--font-color-white);
  color: var(--font-color-white);
  box-shadow: .5rem .4rem .4rem var(--secondary-color);
}

/* cancel Button */

.cancel-btn {
  color: var(--font-color-red);
  font-size: 16px;
  border: 0.1rem solid var(--font-color-red);
  padding: 0.4rem 2rem;
  margin-bottom: 1em;
  box-shadow: .1rem .4rem .4rem var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.cancel-btn:hover {
  background-color: var(--font-color-red);
  border-color: var(--font-color-white);
  box-shadow: .5rem .4rem .4rem var(--secondary-color);
  color: var(--font-color-white);
}

/* model */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: var(--modal-bg-color); 
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--modal-content-bg-color);
  margin: 15% auto;
  padding: 2rem;
  border-radius: 0.7rem;
  width: 50%; 
  height: auto;
  text-align: center;
}

/* The Close Button */
.close {
  color: var(--modal-close-color);
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--font-color-black);
  text-decoration: none;
  cursor: pointer;
}


/* username */

#userName{
  font-weight: 600;
  font-size: 1.2rem;
}

#userName:hover{
  color: var(--secondary-color);
  cursor: pointer;
}

/* user profile Model */

.profile-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
}

.profile-modal-content{
  background-color: var(--modal-content-bg-color);
  margin: 10% auto;
  padding: 1rem;
  width: 50%;
  height: auto;
  border-radius: 1em;
  text-align: center;
}

.profile-close{
  color: var(--modal-close-color);
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.profile-close:hover,
.profile-close:focus {
  color: var(--font-color-black);
  text-decoration: none;
  cursor: pointer;
}

.profile-img{
  max-width: 3rem;
  border-radius: 0.5rem;
  height: auto;
}

/* events */

.event-card{
  padding: 0.7rem;
  background-color: var(--font-color-white);
  margin-bottom: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.event-line{
  background-color: var(--primary-color);
  width: 0.2rem;
  height: auto;
}

.event-date{
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}

.event-name{
  padding:1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  font-weight: 800;
}
.event-desc{
  padding:1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

/* overflow */

#main-show , #main-show2,#main-show-home{
  overflow-y: auto; 
  height: 63vh;
}

  #main-show-home {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
  }

  .desk-book{
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
  }
  

/* logout */
#logout-button {
  background-color: #e74c3c;  
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;  
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease; 
}

#logout-button:hover {
  background-color: #c0392b; 
  transform: translate(0rem, -0.5rem);
}



/* countdown */

.countdown{
  display: none;
  color: var(--primary-color);
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

/* vacation page */

.vacation-div{
  display: flex;
  justify-content: left;
  align-items: top;
  margin: 0;
  font-family: Arial, sans-serif;
}


.vacation-container{
  text-align: center;
}

.vacation-form label {
  display: block;
  margin: 0.5rem 0;
}

.vacation-form input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.vacation-form button {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.25rem;
  display: block;
}

#message {
  margin-top: 1rem;
  color: red;
}

/* Styles For Loaders */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  z-index: 9999;
}

.loader:before {
  content: '';
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 /* view more */
 .view-more{
  color: #818181;
  font-style: italic;
  cursor: pointer;
 }

 .eventBtn{
  /* display: flex; */
  float: right;
 }
