
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* left panel */

.left-panel {
  background-color: #12023e;
  height: 100vh;
  color: #ddd;
}

.top-left {
  display: flex;
  align-items: center;
  width: 15rem;
  padding: .6rem;
}

.top-left img {
  width: 3rem;
  border-radius: 0.5rem;
  height: auto;
  margin-right: .6rem;
}

.top-left h1 {
  margin: 0;
  font-size: 1.2em;
}

.left-content{
  height: 77vh;
}

.left-content ul {
  list-style-type: none;
  padding: 0;
}

.left-content li {
  padding: .6em;
  cursor: pointer;
}

.left-content li:hover {
  background-color: #0c8a8f;
}

.bottom-left {
  display: flex;
  align-items: center;
  padding: .7em;
}

.bottom-left img {
  max-width: 3rem;
  height: auto;
  border-radius: 0.5rem;
  margin-right: .6em;
}

/* right panel */

.right-panel {
  padding: 2rem;
}


#content img{
  width: 1.8rem;
  border-radius: 0.5rem;
  height: auto;
  /* margin-right: 10px;  */
}

.flex-con {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.name-tag{
  background-color: lightblue;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin-right: 0.7rem;
}