
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
}

/* left panel */

.left-panel {
  background-color: #12023e;
  height: 100vh;
  color: #ddd;
  flex: 1;
  flex-direction: column;
}

.left-panel.hidden {
  flex: 0;
}

.top-right {
  display: flex;
  align-items: center;
}

.top-right img {
  max-width: 3rem;
  border-radius: 0.5rem;
  height: auto;
  display: flex;
  margin-right: .6rem;
}

.left-content{
  height: 77vh;
}

.left-content ul {
  list-style-type: none;
  padding: 1em;
}

.left-content li {
  color: #ddd;
  padding: .6em;
  cursor: pointer;
}

.left-content li:hover {
  background-color: #0c8a8f;
}

.top-left {
  color: #ddd;
  display: flex;
  align-items: center;
  padding: .7em;
}

.top-left img {
  max-width: 3rem;
  height: auto;
  border-radius: 0.5rem;
  margin-right: .6em;
}

/* right panel */

.right-panel {
  padding: 1rem;
  flex:5;
}


.flex-con img{
  max-width: 1.8rem;
  border-radius: 0.5rem;
  height: auto;
}

.flex-con {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.name-tag{
  background-color: lightblue;
  padding: 0.3rem;
  border-radius: 0.3rem; 
}
.avail-tag{
  background-color: lightgreen;
  padding: 0.3rem;
  border-radius: 0.3rem; 
}

.inner{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* display: grid;
grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
grid-gap: 1px; */

#toggle-button{
  display: none;
  margin-right: 1em;
  background-color: gray;
  border-radius: 0.5em;
}

/* sidebar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #12023e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
} 

.sidenav li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav li:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  /* margin-left: 50px; */
}